
 <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
     <div class="position-sticky pt-3">
         <ul class="nav flex-column">
             <li class="nav-item">
                 <a class="nav-link" href="/freelancer/dashboard">
                     <i class="bi bi-house-door me-2"></i>Dashboard
                 </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/freelancer/proposals">
                     <i class="bi bi-briefcase me-2"></i>My Projects
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/freelancer/profile">
                     <i class="bi bi-person me-2"></i>Profile
                 </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/freelancer/deposit">
                    <i class="bi bi-wallet2 me-2"></i>Deposit Funds
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/freelancer/withdraw">
                    <i class="bi bi-cash-stack me-2"></i>Withdraw Funds
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-credit-card me-2"></i>Earnings
                </a>
             </li>
         </ul>
     </div>
 </nav>
