<nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/employer">
                    <i class="bi bi-speedometer2 me-2"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employer/browse-jobs">
                    <i class="bi bi-search me-2"></i>Browse Jobs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employer/jobs">
                    <i class="bi bi-briefcase me-2"></i>Manage Jobs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employer/jobs/create">
                    <i class="bi bi-plus-circle me-2"></i>Post a Job
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employer/applications">
                    <i class="bi bi-people me-2"></i>Manage Applications
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employer/deposit">
                    <i class="bi bi-wallet2 me-2"></i>Deposit Funds
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employer/withdraw">
                    <i class="bi bi-cash-stack me-2"></i>Withdraw Funds
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employer/company-profile">
                    <i class="bi bi-building me-2"></i>Company Profile
                </a>
            </li>
        </ul>
    </div>
</nav>